body {
    background: #000;
    margin: 50px;
    font-family: Arial, sans-serif;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    padding: 20px;
}

.item {
    width: 100%;
}

.img-box {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label {
    width: 100%;
    background: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
    transition: all 0.3s ease;
}

.item:hover .label {
    background: white;
    color: black;
}
